<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>{{ title || "这只是个标题" }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' />
  <style>
    body {
      margin: 0 1rem;
    }

    main {
      display: grid;
      grid: auto-flow / 4fr 1fr;
    }

    aside {
      position: sticky;
      right: 0;
      top: 0;
      height: min-content;
    }
  </style>
</head>
<body>
  <main>
    <article>
      {{ content }}
    </article>
    <aside>
      <div>
        译者：{{ author || '无名氏'}}
      </div>
      <div>
        审核者：{{ reviewer || '无名氏' }}
      </div>
      <div>
        MDN：<a href='{{ source || ''}}'>原文链接</a>
      </div>
      <div>
        创建时间：{{ createdAt || "N/A" }}
      </div>
      <div>
        上次修改时间：{{ modifiedAt || "N/A" }}
      </div>
      <div>
        <a href='../'>返回上一级</a>
      </div>
    </aside>
  </main>
</body>
</html>